/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #020617;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 80px 10%;
  flex-wrap: wrap;
}

.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 48px;
}

.hero-left span {
  color: #38bdf8;
}

.hero-left h3 {
  color: #94a3b8;
  margin: 10px 0;
}

.hero-left p {
  color: #cbd5f5;
  margin: 20px 0;
}

/* BUTTON */
.btn {
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

/* HERO IMAGE */
.hero-right img {
  width: 350px;
  border-radius: 20px;
}

/* SECTION */
.section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.section span {
  color: #38bdf8;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

/* EDUCATION */
.edu-item {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  text-align: left;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.skill i {
  font-size: 30px;
  color: #38bdf8;
}

/* PROJECTS (2 SIDE BY SIDE) */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* PROJECT CARD */
.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* IMAGE */
.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* TEXT */
.project-card p {
  color: #cbd5f5;
}

/* LINK */
.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

/* CONTACT */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-icons i {
  font-size: 30px;
  color: #38bdf8;
}

/* MOBILE */
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }
}
