* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #020617;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  min-height: 90vh;
}

/* LEFT */
.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 40px;
}

.hero-left span {
  color: #38bdf8;
}

.hero-left h3 {
  margin: 10px 0;
  color: #94a3b8;
}

.hero-left p {
  margin: 20px 0;
}

/* BUTTON */
.btn {
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

/* RIGHT IMAGE */
.hero-right img {
  width: 400px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-right img {
    width: 250px;
    margin-top: 20px;
  }
}
