* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #020617;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  min-height: 90vh;
}

/* LEFT */
.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 40px;
}

.hero-left span {
  color: #38bdf8;
}

.hero-left h3 {
  margin: 10px 0;
  color: #94a3b8;
}

.hero-left p {
  margin: 20px 0;
}

/* BUTTON */
.btn {
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

/* RIGHT IMAGE */
.hero-right img {
  width: 400px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-right img {
    width: 250px;
    margin-top: 20px;
  }
}
/* SECTION */
.section {
  text-align: center;
  padding: 60px 20px;
}

.section h2 span {
  color: #38bdf8;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

/* EDUCATION */
.edu-item {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 20px;
  font-size: 20px;
}

.skill i {
  font-size: 40px;
  color: #38bdf8;
}

/* PROJECT */
.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 10px;
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

/* CONTACT */
.contact-icons i {
  font-size: 30px;
  margin: 15px;
  color: #38bdf8;
}
